.container {
    font-family: Arial, Helvetica, sans-serif;
}

.capturedEntry {
    border: 1px solid gray;
}

fieldset {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
}

.journalCaptures {
    margin-top: 50px;
    width: 50%;
}

#submitButton {
    background-color: darkgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    padding: 20px;
    margin-top: 30px;
}



