.container {
    font-family: Arial, Helvetica, sans-serif;
}

.capturedEntry {
    border: 1px solid gray;
}

.form__entry {
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25%;
}

.journalCaptures {
    margin-top: 50px;
    width: 50%;
}

#submit__form {
    background-color: darkgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 15px;
    margin-top: 20px;
}



